*{
    margin: 0;
    padding: 0;
    
}
tr, td{
    width: 1500px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    
}
table{
    width: 100%;
    background-color: black;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
th{
    font-size: 40px;
    color: white;
    border: 5px solid white;
}
td{

    background-color: aqua;
    font-size: 30px;
}
body{
    text-align: center;
}
button{
    border: 3px solid black;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: xx-large;
    margin: 0 10px 0 0;
}
.kabab, .back{
    background-color: rgb(212, 212, 212);
    color: black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    text-align: center;
}
.view{
    background-color: blue;
    color: white;
}
.delete, .reject{
    background-color: red;
    color: white;
}
.accept{
    background-color: green;
    color: white;
}
.viewDeleteOption{
    display: none;
    margin-left: 20%;
}
.showButtonOption{
    display: block;
}
#confirmationBox{
    padding-top: 8%;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: bisque;
    display: none;
    position: absolute;
    right: 35%;
    top: 30%;
    border-radius: 15%;
    border: 3px solid black;
}
#grayBox{
    background-color: rgba(177, 177, 177, 0.8);
    width: 100%;
    height: 900px;
    position: absolute;
    display: none;
}