*{
    margin: 0;
    padding: 20px;
    
}

body{
    width: 1500px;
    text-align: center;
}
div{
    border: 2px solid black;
    align-self: center;
}

h1{
    font-size: 125px;
}
h3{
    font-size: 75px;
}
p, Address{
    font-size: 50px;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 2px black soli;
}
#indexTwoContent{
    margin-left: 30%;
}
